<div class="container-fluig">
    <h2 class="text-center">Cadastrar Motorista</h2>

    <form class="text-center" #cadastro="ngForm" (submit)="incluirMotorista()">
      <div>
        <label for="nome"> Código do Motorista: </label><br>
        <input type="text" id="nome" name="nome" [(ngModel)]="nomemotorista.codigo" required> <br>
        <label for="nome"> Nome do Motorista: </label><br>
        <input type="text" id="nome" name="nome" [(ngModel)]="nomemotorista.nome" required> <br>
        <label for="nome"> Numero da habilitação: </label><br>
        <input type="text" id="nome" name="nome" [(ngModel)]="nomemotorista.hbt" required> <br>

        <label for="concluida">Concluida:  </label>

        <input #checkMotorista type="checkbox" id="checkMotorista" [checked]="nomemotorista.concluida"
          (change)="alterarAtributoConcluida(checkMotorista.checked)">
      </div>

      <button type="submit" class="btn btn-primary">Incluir</button>

    </form>
</div>


<!--
<br>
<form class="text-center" #cadastro="ngForm" (submit)="incluirMotorista()">

  <button type="submit" class="btn btn-primary">Incluir</button>
  <div class="form-row"  >
      <div class="form-group col-md-5">
        <label for="nome"> Nome do Motorista: </label><br>
        <input type="text" id="nome" name="nome" placeholder="Nome" [(ngModel)]="nomemotorista.nome" required>
      </div>
      <div class="form-group col-md-5">
        <label for="nome"> Numero da habilitação: </label><br>
        <input type="text" id="nome" name="nome" [(ngModel)]="nomemotorista.hbt" required> <br>
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" placeholder="Senha">
        <label for="senha2">Repetir Senha</label>
        <input type="password" class="form-control" id="senha2" placeholder="Repetir Senha">
      </div>


    <label for="concluida">Concluida:</label>

    <input #checkMotorista type="checkbox" id="checkMotorista" [checked]="nomemotorista.concluida"
      (change)="alterarAtributoConcluida(checkMotorista.checked)">
    -->

 <!--
  </div>
 <div class="form-group">
    <label for="endereco">Endereço</label>
    <input type="text" class="form-control" id="endereco" placeholder="Rua...">
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="cidade">Cidade</label>
      <input type="text" class="form-control" id="cidade">
    </div>
    <div class="form-group col-md-4">
      <label for="estado">Estado</label>
      <select id="estado" class="form-control">
        <option selected>Escolher...</option>
        <option>AC</option>
        <option>AL</option>
        <option>AP</option>
        <option>AM</option>
        <option>BA</option>
        <option>CE</option>
        <option>DF</option>
        <option>ES</option>
        <option>GO</option>
        <option>MA</option>
        <option>MT</option>
        <option>MS</option>
        <option>MG</option>
        <option>PA</option>
        <option>PB</option>
        <option>PR</option>
        <option>PE</option>
        <option>PI</option>
        <option>RJ</option>
        <option>RN</option>
        <option>RS</option>
        <option>RO</option>
        <option>RR</option>
        <option>SC</option>
        <option>SP</option>
        <option>SE</option>
        <option>TO</option>
     </select>
    </div>
    <div class="form-group col-md-2">
      <label for="cep">CEP</label>
      <input type="text" class="form-control" id="cep" placeholder="00.000-00">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Clique em mim
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
  <a href="/motoristamain" class="btn btn-danger btn-lg active" role="button"
  aria-pressed="true">Voltar</a><br><br>

</form>-->
