<div class="container-fluid">

  <div class='flex-pai w-100' *ngIf="viagem">
    <div class='flex-filho-coluna'>
      <span
        ><p>Longitude</p>
        {{ localizacao.lat}}</span
      >
      <span
        ><p>Latitude</p>
        {{ localizacao.long }}</span
      >

      <h2>Detalhes da Viagems</h2>
      <tbody>
        <tr *ngFor="let viagemLista of viagens">
          <button title="Editar" class="btn btn-xs btn-danger" (click)="enviarAlerta(viagemLista)" >Alerta</button>
        </tr>
      </tbody>
      <p>
        Viagem teve ínicio:
        <br />
        <b>10:00</b> horas, na data <b>04/04/2021</b>
      </p>
    </div>
    <div class='flex-filho-linha w-100'>
        <agm-map
          class="mapa"
          [latitude]="localizacao.lat"
          [zoom]="zoom"
          [longitude]="localizacao.long"
        >
          <agm-marker
            [latitude]="localizacao.lat"
            [longitude]="localizacao.long"
          ></agm-marker>
        </agm-map>
    </div>
  </div>
</div>

