<div class="container-fluid">
  <div class="text-center">

    <a href="/motoristalista" class="btn btn-primary btn-lg active" role="button"
    aria-pressed="true">Lista de Motorista</a><br><br>
    <a href="/motoristalocalizacao" class="btn btn-primary btn-lg active" role="button"
    aria-pressed="true">Motorista Localização</a><br><br>
    <a href="/motoristacadastro" class="btn btn-primary btn-lg active" role="button"
    aria-pressed="true">Cadastro de Motorista</a><br><br>
    <a href="/home" class="btn btn-success btn-lg active" role="button"
    aria-pressed="true">Voltar</a><br><br>
  </div>
</div>

