.bg-img{
  min-height: 100vh;
 width: 100%;
 background: url('../../../assets/Capabiketracer.jpg');
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 }
