.bg-img{
  min-height: calc(100vh - 56px);
 width: 100%;
 background: url('../assets/Capabiketracer.jpg');
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 }
