<nb-layout>

  <nb-layout-header fixed>
    <nb-actions class="left" class='header-menu'>
      <nb-action class="pointer"><a style='text-decoration: none;' href="/home">Home</a></nb-action>
      <nb-action class="pointer" [nbContextMenu]="itemsClientes" nbContextMenuPlacement="bottom">Clientes</nb-action>
      <nb-action class="pointer" [nbContextMenu]="itemsMotorista" nbContextMenuPlacement="bottom">Motoristas</nb-action>
      <nb-action class="pointer" [nbContextMenu]="itemsViagens" nbContextMenuPlacement="bottom">Viagens</nb-action>
      <nb-action class="pointer" [nbContextMenu]="itemsProfile" nbContextMenuPlacement="bottom">Perfil</nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    BIKE TRACER PRO®. 2021
  </nb-layout-footer>

</nb-layout>
