<form #busca="ngForm">
  <div>
    <label>Busca por nome:</label>
    <input type="text" id="campoDeBusca" name="campoDeBusca" [(ngModel)]="campoDeBusca" (keydown)="buscarPorNome()">
  </div>
</form>
<br>

<h3>Motoristas</h3>

<table class="table table-striped table-dark table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col" class="text-center">Nome</th>
      <th scope="col" class="text-center">Codigo</th>
      <th scope="col" class="text-center">Habilitação</th>
      <th scope="col" class="text-center">Disponivel</th>
      <th scope="col" class="text-center"> <button class="btn btn-sm btn-success">Novo</button></th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let motoristalista of motoristas">
        <td>{{motoristalista.nome}}
          <td>{{motoristalista.codigo}}
            <td>{{motoristalista.habilitacao}}

          <div *ngIf="modoEdicao==true && motoristalista.key==motoristaEditar.key">
            <form #edicao="ngForm" (submit)="alterarMotorista()">
              <div>
                <label for="nome">Nome do Motorista: </label><br>
                <input type="text" id="nomeEditar" name="nomeEditar" [(ngModel)]="motoristaEditar.nome" required> <br>
                <label for="nome">Código ID: </label><br>
                <input type="text" id="codigoEditar" name="nomeEditar" [(ngModel)]="motoristaEditar.codigo" required> <br>
                <label for="nome">Numero Habilitação: </label><br>

                <input type="text" id="nomeEditar" name="nomeEditar" [(ngModel)]="motoristaEditar.nome" required> <br>
                <label for="concluida">Disponível:</label>

                <input #checkMotoristaEditar type="checkbox" id="checkMotoristaEditar" [checked]="motoristaEditar.concluida"
                  (change)="alterarAtributoConcluida(checkMotoristaEditar.checked)">

                  <button type="submit" class="btn btn-primary">Editar</button>
              </div>

            </form>

          </div>
        </td>

        <td class="text-center"> <input type="checkbox" [checked]="motoristalista.concluida"> </td>
        <td class="text-center">
          <button title="Editar" class="btn btn-xs btn-info" (click)="ativarModoEdicao(motoristalista)" >Editar</button>
          <button title="Excluir" class="btn btn-xs btn-danger" (click)="excluirMotorista(motoristalista)" >Excluir</button>
        </td>
      </tr>
    </tbody>
</table>
